<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StationarySystem.Properties.Settings.sepdbConnectionString"
            connectionString="server=localhost;user id=root;password=J@sonDerul0?;persistsecurityinfo=True;database=sepdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdbConnectionString1"
            connectionString="user id=root;server=localhost;database=sepdb;allowuservariables=True;password=password;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdbConnectionString2"
            connectionString="server=localhost;user id=root;password=password;database=sepdb;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>