<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StationarySystem.Properties.Settings.sepdbConnectionString"
            connectionString="server=localhost;user id=root;password=J@sonDerul0?;persistsecurityinfo=True;database=sepdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdbConnectionString1"
            connectionString="user id=root;server=localhost;database=sepdb;allowuservariables=True;password=password;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdbConnectionString2"
            connectionString="server=localhost;user id=root;password=password;database=sepdb;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdbDataSource"
            connectionString="server=localhost;user id=root;password=password;database=sepdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdb_SQL" connectionString="Data Source=DESKTOP-OR82G7O\SQLEXPRESS;Initial Catalog=sepdb;User ID=sa;Password=password"
            providerName="System.Data.SqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdbConnectionStringMS"
            connectionString="Data Source=DESKTOP-OR82G7O\SQLEXPRESS;Initial Catalog=sepdb;Persist Security Info=True;User ID=sa;Password=password"
            providerName="System.Data.SqlClient" />
        <add name="StationarySystem.Properties.Settings.sepdb_AzureConnection"
            connectionString="Data Source=sep2018.database.windows.net;Initial Catalog=sepdb;User ID=julia"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>